:root{
    --bg-color: #f7f7f7;
    --fist: #fff;
    --second: #323232;
    --third: #afd22d;
    --fourth: #d5d5d5;
    --hover: #AFD22E;
    --border: rgba(119, 119, 119, 0.2);
    --text: #a5a5a5;
}


.empty__alert__cart-page{
    display: none;
}

.cart-page__items{
    display: block;
}

/* TABLE OF USER CART styles */

table{
    margin: 30px 0;
}

th{
    font-size: 1.1rem;
    font-weight: 700;
}

td, th{
    padding: 15px 10px;
    border-bottom: 1px solid #E4E4E4;
}


img{
    border-radius: 8px;
}

.product__count{
    background: transparent;
    border-radius: 7px;
    padding-left: 5px;
    direction: ltr;
    width: 46px;
    padding-top: 3px;
    border: 1px gray solid;
}

.product-name p {
    word-wrap: break-word;
}

.remove-product{
    padding-right: 0;
}

.product-name{
    min-width: 285px;
}

.product-price{
    width: 165px;
    text-align: center;
}

.product-count{
    text-align: center;
}

.product-subtotal{
    text-align: left;
    padding-left: 0;
}

.cart-product-table{
    width: 100%;
}

/* FINAL PRICE CARD styles */

.total-price__card{
    padding: 30px;
    border: 5px double var(--third);
}

.total-price__card__title{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--second);
    margin-bottom: 20px;
}

.total-price__card__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.total-price__card__proceed-to-checkout{
    text-align: center;
}

.total-price__card__proceed-to-checkout__btn{
    background: var(--third);
    padding: 7px 85px;
    font-weight: 800;
    color: var(--fist);
    transition: all 0.4s;
}

.total-price__card__proceed-to-checkout__btn:hover{
    background: var(--hover);
    color: var(--fist);
}

/* Responsive part */

@media only screen and (max-width: 1200px) {

    .total-price__card__proceed-to-checkout__btn {
        padding: 7px 25px;
    }   
}

@media only screen and (max-width: 576px) {

    .product-name {
        min-width: 200px;
    }

}

@media only screen and (max-width: 376px) {

    td{
        padding: 15px 5px;
    }

    .product-img{
        display: none;
    }
    
    .product__count{
        width: 40px;
    }

    .product-name p {
        font-size: 13px;
    }

    .product-price span {
        font-size: 12px;
    }

}
