:root{
    --bg-color: #f7f7f7;
    --fist: #fff;
    --second: #323232;
    --third: #AFD22D;
    --fourth: #d5d5d5;
    --hover: #a2c32a;
    --border: rgba(119, 119, 119, 0.2);
    --text: #a5a5a5;
}

body {
	font-family: iranyekan;
    overflow-x: hidden;
    background: var(--bg-color);
}

::selection {
    color: #fff;
    background: var(--third);
    text-shadow: none;
}

ul{
    padding: 0;
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
}

img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

/* HEADER styles */

.header{
    z-index: 300;
    position: relative;
    transition: all 1s;
}

.header--bg{
    background: var(--fist);
}

/* First row styles */

.header-number__box{
    direction: ltr;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

/* Second row styles */

/* Header logo column styles */

.logo-box{
    margin: 0 0 20px 0;
    user-select: none;
}

/* Header search box column styles */

.search-box__form{
    background: var(--second);
    padding: 8px;
    border-radius: 20px 20px 0 0;
}

.search-box__form__btn{
    background: transparent;
    border: none;
}

.search-box__form__text{
    background: transparent;
    border: none; 
    width: 90%;
    caret-color: var(--bg-color);
    color: #fff;
}

/* Header icons box column styles */

.icons-box{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 13px;
    margin-top: 28px;
}

.icons-box__item{
    cursor: pointer;
}

.login__box{
    display: flex;
    align-items: end;
    gap: 2px;
}

.login__box__label{
    font-weight: 700;
}

.cart-count{
    width: 23px;
    height: 20px;
    background: var(--third);
    padding: 4px 0px 0px 0px;    
    border-radius: 50%;
    position: absolute;
    right: -14px;
    bottom: 15px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-count--parent{
    position: relative;
}

/* Third row styles */

.menu{
    background: var(--second);
    border-radius: 0px 0px 20px 20px;
    margin-top: .5px;
}

.menu__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
}

.menu__box__items{
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu__box__items__link{
    color: var(--fourth);
    transition: all 0.7s;
}

.menu__box__items__link:hover{
    color: var(--third);
}

/* DROPDOWN menu */

.menu__box__items__link--dot::before {
    content: "";
    position: absolute;
    top: calc(50% - 0px);
    left: calc(100% - (-18px));
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #707070;
}

.menu__box__items__link--dropdown::after {
    content: "▾";
    position: absolute;
    top: 13px;
    left: -15px;
    margin-right: 4px;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

.dropdown-menu__box {
    visibility: hidden;
    position: absolute;
    top: 46px;
    left: -54px;
    background: var(--second);
    border-radius: 1px 0px 4px 4px;
    opacity: 0;
    transform: translateX(25px);
    transition: all 350ms;
    z-index: 300;
}


.menu__box__items__dropdown:hover .dropdown-menu__box {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.dropdown-menu__box__item--link {
    color: var(--fourth);
    font-size: 0.9rem;
    transition: color 0.8s;
    margin: 6px 0px 6px 83px;    
}

.dropdown-menu__box__item:hover .dropdown-menu__box__item--link {
    color: var(--third);
}

/* SIDE LOGIN NAVIGATION styles */

.sideNav__login{
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--fist);
    z-index: 500;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 25px 30px 25px;
    transform: translate3d(200%,0,0);
    transition: transform .5s cubic-bezier(.19,1,.22,1);
}

.sideNav__menuBurger {
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--fist);
    z-index: 500;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 25px 30px 25px;
    transform: translate3d(200%,0,0);
    transition: transform .5s cubic-bezier(.19,1,.22,1);
}

.sideNav__login.open__sideNav__menuBurger {
    transform: none; 
}


.sideNav__login.open__sideNav__login {
    transform: none; 
}

.sideNav__login__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--border);
    margin-bottom: 15px;
}

.login__form__username, .login__form__password {
    font-size: 0.95rem;
    color: #333;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.login__form__label--mb {
    margin-bottom: 3px;
}

.required {
    color: red;
}

.login__form__input {
    padding: 0 15px;
    max-width: 100%;
    width: 100%;
    height: 42px;
    background: transparent;
    box-shadow: none;
    color: #777;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid var(--border);
}

.login__form__extraItems {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.login__form__rememberUser {
    margin-bottom: 15px;
    color: #333;
}

.login__form__forgettingPass {
    margin-bottom: 10px;
    color: var(--hover);
    font-size: 1rem;
    font-weight: 800;
}

.login__form__forgettingPass:hover {
    color: var(--hover);
}

.login__form__submit--style {
    background: var(--third);
    color: var(--bg-color);
    padding: 5px 17px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: all 0.6s;
}

.login__form__submit--style:hover {
    background: var(--hover);
}

.sideNav__login__form__create-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
}

.sideNav__login__form__create-account__question {
    font-weight: 700;
}

.sideNav__login__form__create-account__link {
    background: var(--third);
    color: var(--fist);
    font-size: 0.85rem;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 800;
    transition: all 0.6s;
}

.sideNav__login__form__create-account__link:hover {
    background: var(--hover);
    color: var(--fist);
}

/* SIDE CART styles */

.sideNav__cart {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background: var(--fist);
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 25px 30px 25px;
    transform: translate3d(-100%,0,0);
    transition: transform .5s cubic-bezier(.19,1,.22,1);
}

.sideNav__cart.open__sideNav__cart {
    transform: none; 
}

.sideNav__cart__header {
    display: flex;
    flex: 0 1 0;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--border);
    margin-bottom: 15px;
}

/* NOTIFICATION OF EMPTY CART (side navigation) */

.sideNav__cart__empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 20px;
}

.sideNav__cart__empty-cart__alert {
    font-weight: 700;
}

.back__store {
    background: var(--third);
    color: var(--fist);
    font-size: 0.85rem;
    padding: 8px 17px;
    border-radius: 5px;
    font-weight: 800;
    transition: all 0.6s;
}

.back__store:hover {
    background: var(--hover);
    color: var(--fist);
}


/* SIDE CART LIST STYLES */

.sideNav__cart__list{
    display: none;
    position: relative;
    flex: 1;
}

.sideNav__cart__list__content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.sideNav__cart__list__ul{
    display: flex;
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
    list-style: none;   
}

.sideNav__cart__list__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 1 0;
}

.sideNav__cart__list__total-price{
    padding: 15px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(119,119,119,.2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sideNav__cart__list__btn{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sideNav__cart__list__btn--style{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 6px 0;
}

.sideNav__cart__list__view-cart{
    background: transparent;
    color: var(--second);
    border: 1px solid rgba(119,119,119,.2);
    border-radius: 5px;
    margin-bottom: 10px;
}

.sideNav__cart__list__view-cart:hover{
    color: var(--second);
}

.sideNav__cart__list__checkout{
    background: var(--third);
    color: var(--fist);
    border: none;
    border-radius: 5px;
    transition: all 0.6s;
}

.sideNav__cart__list__checkout:hover{
    background: var(--hover);
    color: var(--fist);
}

.sideNav__cart{
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--fist);
    z-index: 500;
    background: var(--fist);
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 25px 30px 25px;
    transform: translate3d(-100%,0,0);
    transition: transform .5s cubic-bezier(.19,1,.22,1);
}

/* SIDE CART LIST ITEMS STYLES */

.sideNav__cart__list{
    position: relative;
    flex: 1;
}

.sideNav__cart__list__ul{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    list-style: none;   
}
.sideNav__cart__list__ul::-webkit-scrollbar{
    width: 5px;
}
.sideNav__cart__list__ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
.sideNav__cart__list__ul::-webkit-scrollbar-thumb {
    background: var(--border); 
}
  
.sideNav__cart__list__ul::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.sideNav__cart__list__ul__item{
    display: flex;
    min-height: 90px;
    min-height: 125px;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border);
}
.sideNav__cart__list__ul__item__product-info{
    display: flex;
    flex-direction: column;
}
.sideNav__cart__list__ul__item__product-name{
    color: #000;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-left: 3px;
    transition: all 0.6s;
}
.sideNav__cart__list__ul__item__product-name:hover{
    color: var(--hover);
}
.sideNav__cart__list__ul__item__product-quantity{
    width: 55px;
    margin-bottom: 10px;
}
.sideNav__cart__list__ul__item__product-price{
    color: var(--third);
    font-weight: 800;
    font-size: 1.1rem;
}
.sideNav__cart__list__ul__item--remove{
    display: flex;
    margin-left: 5px;
}
.sideNav__cart__list__info{
    display: flex;
    align-items: center;
}
.sideNav__cart__list__checkout:hover{
    background: var(--hover);
    color: var(--fist);
}

/* HEADER SLIDER styles */

.header-slider {
    margin: 40px 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination {
    position: inherit;
    margin-top: 20px;
    user-select: none;
}

.swiper-pagination-bullet {
    transition: all 0.4s;
    margin-right: 9px !important;
}

.swiper-pagination-bullet:hover {
    transform: scale(1.6);
    background: transparent;
    border: 1.5px solid black;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    transform: scale(1.6);
    background: transparent;
    border: 1.5px solid black;
}

/* CATEGORIES styles */

.categories {
    padding: 30px 0;
}

.categories__title__row {
    margin-bottom: 30px;
}

.categories__title {
    word-wrap: break-word;
    line-height: 1.2;
    font-size: 1rem;
    font-weight: 600;
}

.mark-behind-title {
    position: relative;
}

.mark-behind-title::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:  #AFD22D;
    position: absolute;
    top: 5px;
    right: -23px;
}

.mark-behind-title::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #c6d490;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: -28px;
}

.line-below-title {
    position: relative;
}

.line-below-title::after {
    content: "";
    width: 40px;
    height: 2px;
    display: inline-block;
    background: var(--third);
    position: absolute;
    top: 0;
    right: 0;
}

.categories__card {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    align-items: center;
    justify-content: center;
}

.categories__card__icon--hover-efct {
    padding: 10px;
    border-radius: 40%;
    transition: all 0.4s;
}

.categories__card__icon--hover-efct:hover {
    background: #E6E6E6;
    border-radius: 50%;
}

.categories__card__name {
    color: black;
    font-weight: 600;
    transition: all 0.4s;
}

.categories__card__name:hover {
    color: var(--hover);
}

/* PRODUCT PREVIEW */

.product-preview {
    padding: 50px 0 0 0;
}

.product-preview__title {
    word-wrap: break-word;
    line-height: 1.2;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.archive-product, .archive-product svg {
    color: var(--second);
    transition: all 0.4s;
}

.archive-product:hover {
    color: #808080;
}

.archive-product:hover svg {
    fill: #808080;
}

/* PRODUCT CARDS styles */

.product__card__row {
    padding: 20px 0;
}

.product__card {
    padding: 10px;
}

.product__card__content {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 8px -3px rgba(166, 196, 198, .35);
}

.product__card__img { 
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
}

.product-img-back {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all 0.3s;
}

.parent-discount-label {   
    display: flex;
    align-items: center;
    justify-content: center;
} 


.product__card__img:hover .product-img-back {
    opacity: 1;
}

.product__card__img__discount-label {
    position: absolute;
    top: 0px;
    right: 5px;
    z-index: 100;
    padding: 2px 10px;
    font-size: 0.85rem;
    font-weight: 700;
    border-radius: 4px;
    color: var(--fist);
    background: var(--third);
}

.product__card__title {
    max-height: 44px;
    min-height: 44px;
    overflow: hidden;
    line-height: 22px;
}

.product__card__title--text {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--second);
    transition: all 0.4s;
}

.product__card__title--text:hover {
    color: var(--hover);
}

.product__card__prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 43px;
}

.product__card__previous-price {
    color: #808080;
    font-size: 0.8rem;
    text-decoration: line-through;
}

.product__card__new-price {
    color: var(--third);
    font-weight: 600;
}

.product__card__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.product__card__footer__like-btn {
    padding: 2px 8px;
    border-radius: 50%;
    background: #FCEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
}

.product__card__footer__like-btn:hover {
    background: #DC3545;
}

.product__card__footer__like-btn:hover svg {
    fill: var(--fist);
}

.product__card__footer__cart-btn {
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 50%;
    overflow: hidden;
    transition: all .7s cubic-bezier(.19,1,.22,1);
}

.product__card__footer__cart-btn--animation {
    transform: translateX(0%);
    transition: transform .7s cubic-bezier(.19,1,.22,1);
}    

.product__card__footer__cart-btn:hover {
    background: var(--third);
    border: 1px solid var(--third);
}

.product__card__footer__cart-btn:hover .product__card__footer__cart-btn--animation {
    transform: translateX(110%);
    filter: drop-shadow(-28px -1px 0px #ffffff);
}    

/* BANNERS styles */

.banner {
    padding: 50px 0 0 0;
}

.banner__box {
    display: flex;
    align-items: center;
}

.banner__img {
    border-radius: 20px;
}

/* ARTICLES STYLES */


/* ARTICLES STYLES (first row) */

.articles {
    padding: 50px 0 0 0;
}

.articles__title {
    font-size: 1.3rem;
    font-weight: 500;
}

.articles__title span span {
    color: var(--third);
    font-weight: 900;
}

/* ARTICLES STYLES (second row) */

.articles__card__row {
    padding: 30px 0;
}

.articles__card {
    background: var(--fist);
    border-radius: 8px;
    box-shadow: 0 5px 8px -3px rgb(166 196 198 / 35%);
    overflow: hidden;
}

.articles__card__header {
    position: relative;
    overflow: hidden;
}

.articles__card__header--img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
}

.articles__card__header--effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.3);
    opacity: 0;
    transition: all 0.5s;
}

.articles__card__header--effect--content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fist);
    font-size: 1.1rem;
    font-weight: 700;
    transform: translateY(10%);
    opacity: 0;
    transition: all 0.5s;
}

.articles__card:hover .articles__card__header--effect {
    opacity: 1;
}

.articles__card:hover .articles__card__header--effect--content {
    transform: translateY(0);
    opacity: 1;
}

.articles__card__header a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.articles__card__content--categories {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.articles__card__content--categories--btn {
    color: var(--fist);
    font-size: 0.8rem;
    font-weight: 500;
    background: var(--second);
    padding: 1px 9px;
    border-radius: 8px;
    line-height: 20px;
    transition: all 0.5s;
}

.articles__card__content--categories--btn:hover {
    background: var(--hover);
    color: var(--fist);
}

.articles__card__content {
    padding: 25px;
}

.articles__card__content--title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.4; 
    min-height: 44px;
    max-height: 44px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow: hidden;
}

.articles__card__content--title a {
    color: #000;
    transition: all 0.4s;
}

.articles__card__content--title:hover.articles__card__content--title a {
    color: var(--hover);
}

.articles__card__content--summary {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* adds three dots at the end */
}

.articles__card__content--summary--text {
    width: 100%; 
    height: 100px;
    overflow: hidden;
}    
 
.articles__card__content__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
}

.articles__card__content__footer--writer--img {
    border-radius: 50%;
}

.articles__card__content__footer--writer--name {
    color: #000;
    font-weight: 600;
    font-size: 0.9rem;
}

.articles__card__content__footer--writer--name:hover {
    color: #000;
}

.articles__card__content__foote--share {
    cursor: pointer;
    position: relative;
}

.tooltip__share {
    position: absolute;
    top: -5px;
    left: 26px;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0,0,0,.7);
    max-width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .5s;
}

.tooltip__share__content {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.articles__card__content__foote--share:hover .tooltip__share {
    visibility: visible;
    opacity: 1;

}

.tooltip__share__content__icon  {
    transition: all .5s;
}

.tooltip__share__content__icon:hover {
    fill: var(--third);
}

/* FOOTER styles */

.footer {
    background: #3a3a3a;
    margin-top: 30px;
}

.footer__first-row {
    padding: 40px 0;
}

.footer__content__title {
    color: var(--third);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0!important;
    user-select: none;
    background: var(--third);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
}

.footer__content__about-us {
    margin-top: 15px;
    color: var(--fist);
    text-align: justify;
    padding-left: 22px;
    font-size: 0.9rem;
}

.footer__content__list--item {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.footer__content__list {
    margin-top: 20px;
}

.footer__content__list--item--text {
    color: var(--fist);
    transition: all 0.4s;
}

.footer__content__list--item--text:hover {
    color: var(--hover);
}

.footer__content__license {
    margin-top: 15px;
    color: #B0B0B0;
}

/* .trust-symbol{
} */

.footer__second-row__form-title {
    font-size: 0.9rem;
    color: var(--fist);
    font-weight: 500;
}

.footer__second-row__form {
    margin-top: 10px;
}

.footer__second-row__form-email {
    width: 232px;
    height: 40px;
    border: none;
    border-radius: 18px;
    direction: rtl;
    padding-right: 10px;
}

.footer__second-row__form-email::placeholder {
    font-size: 0.8rem;
}

.footer__second-row__form-submit {
    background: var(--third);
    padding: 8px 20px;
    border-radius: 18px;
    border: none;
    transition: all 0.4s;
}

.footer__second-row__form-submit:hover {
    background: var(--hover);

}

.footer__third-row__socialMedia__list {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 20px;
    column-gap: 8px;
}

.footer__third-row__alert {
    text-align: center;
    color: var(--fist);
    font-weight: 300;
    margin-bottom: 8px;
}

.footer__third-row__socialMedia__list--item-icon {
    transition: all 0.4s;
}

.footer__third-row__socialMedia__list--item:hover 
.footer__third-row__socialMedia__list--item-icon {
transform: translateY(-20px);
}


/* these styles are used for many pages (start) */
/* TITLE SECTION & BREADCRUMB styles */

.title__section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.page__title {
    font-size: 2.3rem;
    user-select: none;
}

.breadCrumb {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.breadCrumb__previous__page {
    color: var(--text);
    transition: all 0.5s;
    user-select: none;
}

.breadCrumb__previous__page:hover {
    color: var(--hover);
}

/* these styles are used for many pages (end) */

/* ALERT OFEMPTY PAGE styles*/

.empty__alert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty__alert__text, .empty__alert__icon, .empty__alert__btn {
    margin-bottom: 30px;
}

.empty__alert__icon {
    opacity: 0.2;
    margin-bottom: 30px;
}

.empty__alert__text--style {
    font-size: 2.3rem;
    font-weight: 700;
}

/* Blure dark layer styles */

.layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 400;
    visibility: hidden;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    backdrop-filter: blur(6px);
    transition: opacity .5s cubic-bezier(.19,1,.22,1),visibility 0s cubic-bezier(.19,1,.22,1) .5s,z-index 0s cubic-bezier(.19,1,.22,1) .5s,top 0s cubic-bezier(.19,1,.22,1) .5s;
}
.layer.dropdown__menu__layer--active {
    visibility: visible;
    opacity: 1;
    z-index: 110;
    background: rgb(0 0 0 / 30%);
    transition-delay: 0s;
}

.layer.sideNav__layer--active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

/* responsive styles */

.menuBurger {
    display: none;
}

@media only screen and (max-width: 1400px) {

    .menu__box__items__link--dot::before {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {

    .dekstopMenu {
        display: none;
    }

    .menuBurger {
        display: block;
    }

    .empty__alert__text--style {
        font-size: 1.7rem;
        font-weight: 700;
    }

}

@media only screen and (max-width: 992px) {

    .login__box,.favourite-icon{
        display: none;  
    }

    .product-img-back{
        display: none;
    }    

}

@media only screen and (max-width: 576px) {

    .header-number__box__content {
        font-size: 12px;
    }

    .footer__third-row__alert{
        font-size: 14px;
    }

    .footer__third-row__socialMedia__list--item-icon { 
        width: 23px;
    }

    .empty__alert__text--style {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }

    .empty__alert__icon>svg {
        width: 200px;
    }

    .page__title{
        font-size: 1.8rem;
    }

    .banner__box-item {
        margin-bottom: 25px;
    }
    
}

@media only screen and (max-width: 350px) {

    .footer__second-row__form-submit{
        background: var(--third);
        padding: 5px 15px;
    }

    .footer__second-row__form-email{
        width: 224px;
        height: 35px;
        border: none;
        border-radius: 18px;
        direction: rtl;
        padding-right: 8px;    
    }
    
}
