:root{
    --bg-color: #f7f7f7;
    --fist: #fff;
    --second: #323232;
    --third: #afd22d;
    --fourth: #d5d5d5;
    --hover: #AFD22E;
    --border: rgba(119, 119, 119, 0.2);
    --text: #a5a5a5;
    --stars: #EABE12;
}

/* PRODUCT BREADCRUMB styles */

.product__breadCrumb{
    margin: 35px 0;
}

/* PRODUCT IMG style */

.product__img{
    height: auto;
    width: 447px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 5px 8px -3px rgba(166, 196, 198, .35);
}

.product__img__item{
    padding: 0;
    cursor: pointer;
    margin: 12px 10px 0px 0px;
    box-shadow: 0 5px 8px -3px rgba(166, 196, 198, .35);
}

.product__img__item img{
    border-radius: 8px;
    transition: all 0.4s;
}

.product__img__item img:hover{
    opacity: 0.6;
}

/* PRODUCT INFO styles */

.product__info{
    margin-bottom: 40px;
}

.product__info__container{
    margin-right: 30px;
}

.product__title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.product__price{
    display: flex;
    column-gap: 12px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.product__price-old{
    color: var(--text);
    font-weight: 300;
}

.product__price-new{
    color: var(--third);
    font-weight: 800;
}

.share__product{
    display: flex;
    column-gap: 5px;
}

.product__form{
    display: flex;
    column-gap: 40px;
    margin-bottom: 20px;
}

.product__count{
    background: transparent;
    border-radius: 7px;
    padding-left: 15px;
    direction: ltr;
    padding-right: 7px;
    border: 1px gray solid;
}

.add__product__cart{
    font-size: 1rem;
    font-weight: 800;
    padding: 6px 15px;
    border: none;
    border-radius: 7px;
    background: var(--third);
    color: var(--fist);
    transition: all 0.4s;
}

.add__product__cart:hover{
    background: var(--hover);
}

.add__product__interest{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.add__product__interest__text{
    font-size: 0.9rem;
    font-weight: 800;
}

.add__product__interest .add__product__interest-active{
    fill: red;
}

.share__product__text{
    font-size: 0.9rem;
    font-weight: 800;
}

.share__product__icon{
    cursor: pointer;
    transition: all 0.4s;
}

.share__product__icon:hover{
    transform: scale(2);
    margin: 0 15px;
}

/* TOGGLE TAB styles */

.tab__wrapper{
    margin-bottom: 25px;
    border-bottom: 2px solid rgba(119,119,119,.2);
    text-align: center;
}

.tab__wrapper__list__item{
    display: inline;
    cursor: pointer;
}

.tab__wrapper__list__item__text{
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #666;
    position: relative;
    transition: all 0.4s;
}

.tab__wrapper__list__item__text::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    border-bottom: 3px solid var(--third);
    width: 0;
    transition: width .6s cubic-bezier(.19,1,0.22,1);
    margin: 0 auto;
}

.tab__wrapper__list__item__text:hover.tab__wrapper__list__item__text::after{
    width: 90%;
}

.tab__wrapper__list__item__text:hover{
    color: var(--second);
}

.tab__wrapper__list__item.active .tab__wrapper__list__item__text{
    color: var(--second);
}

.tab__wrapper__list__item.active .tab__wrapper__list__item__text::after{
    width: 90%;
}

.dot-style::before{
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: calc(100% - 2px);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #d5d5d5;
}

/* TOGGLE TAB CONTENTES styles */

.content__wrapper{
    display: none;
}

.content__wrapper.active{
    display: flex;
}

.content__wrapper__description__text{
    color: #666;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
}

.content__wrapper__description__text strong{
    font-weight: 600;
    color: var(--second);
}

.content__wrapper__description__feature{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--second);
    margin-bottom: 20px;
}

.content__wrapper__description__feature__list{
    list-style: inside;
    color: #666;
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 500;
}

.content__wrapper__description__feature__list li{
    margin-bottom: 10px;
}

/* REVIEWS PART styles */

.reviews__title{
    font-size: 1.3rem;
    font-weight: 600;
}

.reviews__empty-alert{
    font-size: 0.9rem;
    color: var(--text);
    display: none;
}

.reviews__list{
    margin-top: 1.1rem;
}

.reviews__list__item{
    margin-bottom: 15px;
}

.reviews__list__item__box{
    display: flex;
    column-gap: 7px;
}

.reviews__user-img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.reviews__list__item__box__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.reviews__user-score{
    display: flex;
    column-gap: 1px;
}

.reviews__user-comment{
    margin-bottom: 2px;
    font-size: 0.9rem;
    color: #666;
}

/* WRITE COMMENT styles */

.writeComment__title{
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.writeComment__form__note{
    display: block;
    color: #666;
    margin-bottom: 20px;
}

.writeComment__form__score{
    display: flex;
    column-gap: 17px;
    align-items: center;
    margin-bottom: 20px;
}

.writeComment__form__comment textarea{
    width: 100%;
    background: transparent;
    border: 1px solid var(--border);
}

.writeComment__form__comment textarea:focus{
    outline: 1px solid var(--border);
}

.writeComment__form__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.writeComment__form__info-author label, .writeComment__form__info-email label{
    display: block;
}

.writeComment__form__info-author input, .writeComment__form__info-email input{
    width: 100%;
    background: transparent;
    border: 1px solid var(--border);
    height: 42px;
}

.writeComment__form__cookies-consent{
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 20px;
}

.writeComment__form__cookies-consent label{
    font-size: 0.9rem;
    color: #666;
}

.writeComment__form__submit--btn{
    border: none;
    border-radius: 7px;
    background: var(--third);
    color: var(--fist);
    font-weight: 600;
    padding: 4px 25px;
    transition: all 0.5s;
}

.writeComment__form__submit--btn:hover{
    background: var(--hover);
}

/* RELATED PRODUCT styles */

.related__product__title{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--second);
    margin-bottom: 20px;
    margin-right: 3px;
}