:root{
    --bg-color: #f7f7f7;
    --fist: #fff;
    --second: #323232;
    --third: #FEF200;
    --fourth: #d5d5d5;
    --hover: #dcd207;
    --border: rgba(119, 119, 119, 0.2);
    --text: #a5a5a5;
}

/* TITLE SECTION & BREADCRUMB styles */

.title__section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.page__title{
    font-size: 2.3rem;
}

.breadCrumb{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.breadCrumb__previous__page{
    color: var(--text);
    transition: all 0.5s;
}

.breadCrumb__previous__page:hover{
    color: var(--hover);
}

/* REGISTER & LOG IN FORMS styles */

.forms__box{
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 20px;
}

.form__separator{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--second);
    font-weight: 500;
}

.form__separator__content{
    padding: 10px 0;
}

.form__separator::before{
    content: "";
    flex: 1 1 auto;
    border-width: 1px;
    border-left-style: solid;
}

.form__separator::after{
    content: "";
    flex: 1 1 auto;
    border-width: 1px;
    border-left-style: solid;
}
