:root{padding: 0;
    --bg-color: #F7F7F7;
    --fist: #fff;
    --second: #323232;
    --third: #FEF200;
    --fourth: #d5d5d5;
    --hover: #dcd207;
    --border: rgba(119,119,119,.2);
}

body {
	font-family: iranyekan;
    overflow-x: hidden;
    background: var(--bg-color);
}

ul{
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    color: none;
}

input:focus{
    outline: none;
}

/* Header navbar styles */

.header--bg{
    background: var(--fist);
}

/* First row styles */

.header-number__box{
    direction: ltr;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

/* Second row styles */

/* Header logo column styles */

.logo-box{
    margin: 0 0 20px 0;
}

/* Header search box column styles */

.search-box__form{
    background: var(--second);
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

.search-box__form__btn{
    background: transparent;
    border: none;
}

.search-box__form__text{
    background: transparent;
    border: none; 
    width: 90%;
    caret-color: var(--bg-color);
}

/* Header icons box column styles */

.icons-box{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 13px;
    margin-top: 28px;
}

.icons-box__item{
    cursor: pointer;
}

.login__box{
    display: flex;
    align-items: end;
    gap: 2px;
}

.login__box__label{
    font-weight: 700;
}

.cart-count{
    width: 23px;
    height: 20px;
    background: var(--third);
    padding: 4px 0px 0px 0px;    
    border-radius: 50%;
    position: absolute;
    right: 18px;
    bottom: 15px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-count--parent{
    position: relative;
}

/* Third row styles */

.menu{
    background: var(--second);
    border-radius: 0px 0px 20px 20px;
    padding: 3px;
    margin-top: 2px;
}

.menu__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
}

.menu__box__items{
    position: relative;
    padding: 10px 0;
}

.menu__box__items__link{
    color: var(--fourth);
    transition: all 0.7s;
}

.menu__box__items__link:hover{
    color: var(--third);
}

/* Dropdown menu */

.menu__box__items__link--dot::before{
    content: "";
    position: absolute;
    top: calc(50% - 0px);
    left: calc(100% - (-18px));
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #707070;
}

.menu__box__items__link--dropdown::after{
    content: "▾";
    position: absolute;
    top: 13px;
    left: -15px;
    margin-right: 4px;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

.dropdown-menu__box{
    visibility: hidden;
    position: absolute;
    top: 46px;
    left: -54px;
    background: var(--second);
    border-radius: 1px 0px 4px 4px;
    opacity: 0;
    transform: translateX(25px);
    transition: all 350ms;
}

.menu__box__items--headphone:hover .dropdown-menu__box{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.menu__box__items--speaker:hover .dropdown-menu__box{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.dropdown-menu__box__item--link{
    color: var(--fourth);
    font-size: 0.9rem;
    transition: color 0.8s;
    margin: 6px 0px 6px 83px;
}

.dropdown-menu__box__item:hover .dropdown-menu__box__item--link{
    color: var(--third);
}

/* Side login navigation styles */

.sideNav__login{
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--fist);
    z-index: 500;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 25px 30px 25px;
    transform: translate3d(100%,0,0);
    transition: transform .5s cubic-bezier(.19,1,.22,1);
}

.sideNav__login.open__sideNav__login{
    transform: none; 
}


.sideNav__login__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--border);
    margin-bottom: 15px;
}

.sideNav__login__form__username, .sideNav__login__form__password{
    font-size: 0.95rem;
    color: #333;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.sideNav__login__form__label--mb{
    margin-bottom: 3px;
}

.required{
    color: red;
}

.sideNav__login__form__input{
    padding: 0 15px;
    max-width: 100%;
    width: 100%;
    height: 42px;
    background: transparent;
    box-shadow: none;
    color: #777;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid var(--border);
}

.sideNav__login__form__extraItems{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.sideNav__login__form__rememberUser{
    margin-bottom: 15px;
    color: #333;
}

.sideNav__login__form__forgettingPass{
    margin-bottom: 10px;
    color: var(--third);
    font-size: 1rem;
    font-weight: 800;
}

.sideNav__login__form__forgettingPass:hover{
    color: var(--third);
}

.sideNav__login__form__submit--style{
    background: var(--third);
    color: var(--bg-color);
    padding: 5px 17px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: all 0.6s;
}

.sideNav__login__form__submit--style:hover{
    background: var(--hover);
}

.sideNav__login__form__create-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
}

.sideNav__login__form__create-account__question{
    font-weight: 700;
}

.sideNav__login__form__create-account__link{
    background: var(--third);
    color: var(--fist);
    font-size: 0.85rem;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 800;
    transition: all 0.6s;
}

.sideNav__login__form__create-account__link:hover{
    background: var(--hover);
    color: var(--fist);
}

/* Side login cart styles */

.sideNav__cart{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background: var(--fist);
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 25px 30px 25px;
    transform: translate3d(-100%,0,0);
    transition: transform .5s cubic-bezier(.19,1,.22,1);
}

.sideNav__cart.open__sideNav__cart{
    transform: none; 
}

.sideNav__cart__header{
    display: flex;
    flex: 0 1 0;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--border);
    margin-bottom: 15px;
}

/* Notification of empty cart (side navigation) */

.sideNav__cart__empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 20px;
}

.sideNav__cart__empty-cart__alert{
    font-weight: 700;
}

.sideNav__cart__empty-cart__shop-link{
    background: var(--third);
    color: var(--fist);
    font-size: 0.85rem;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 800;
    transition: all 0.6s;
}

.sideNav__cart__empty-cart__shop-link:hover{
    background: var(--hover);
}

/* Side cart list styles */

/* .sideNav__cart__list{
    position: relative;
    flex: 1;
}

.sideNav__cart__list__content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.sideNav__cart__list__ul{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    list-style: none;   
}

.sideNav__cart__list__ul::-webkit-scrollbar{
    width: 5px;
}

.sideNav__cart__list__ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
.sideNav__cart__list__ul::-webkit-scrollbar-thumb {
    background: var(--border); 
}
  
.sideNav__cart__list__ul::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.sideNav__cart__list__ul__item{
    display: flex;
    min-height: 125px;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border);
}

.sideNav__cart__list__ul__item__product-info{
    display: flex;
    flex-direction: column;
}

.sideNav__cart__list__ul__item__product-name{
    color: #000;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-left: 3px;
    transition: all 0.6s;
}

.sideNav__cart__list__ul__item__product-name:hover{
    color: var(--hover);
}

.sideNav__cart__list__ul__item__product-quantity{
    width: 55px;
    margin-bottom: 10px;
}

.sideNav__cart__list__ul__item__product-price{
    color: var(--third);
    font-weight: 800;
    font-size: 1.1rem;
}

.sideNav__cart__list__ul__item--remove{
    display: flex;
    margin-left: 5px;
}

.sideNav__cart__list__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 1 0;
}

.sideNav__cart__list__total-price{
    padding: 15px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--border);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sideNav__cart__list__btn{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sideNav__cart__list__btn--style{
    width: 100%;
    text-align: center;
    padding: 6px 0;
}

.sideNav__cart__list__view-cart{
    background: transparent;
    color: var(--second);
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-bottom: 10px;
}

.sideNav__cart__list__view-cart:hover{
    color: var(--second);
}

.sideNav__cart__list__checkout{
    background: var(--third);
    color: var(--fist);
    border: none;
    border-radius: 5px;
    transition: all 0.6s;
}

.sideNav__cart__list__checkout:hover{
    background: var(--hover);
    color: var(--fist);
} */

/* Blure dark layer styles */

.sideNav__layer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 400;
    visibility: hidden;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    backdrop-filter: blur(6px);
    transition: opacity .5s cubic-bezier(.19,1,.22,1),visibility 0s cubic-bezier(.19,1,.22,1) .5s,z-index 0s cubic-bezier(.19,1,.22,1) .5s,top 0s cubic-bezier(.19,1,.22,1) .5s;
}

.sideNav__layer.sideNav__layer--active{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}