:root{padding: 0;
    --bg-color: #F7F7F7;
    --fist: #fff;
    --second: #323232;
    --third: #FEF200;
    --fourth: #d5d5d5;
    --hover: #dcd207;
}

body {
	font-family: iranyekan;
    overflow-x: hidden;
    background: var(--bg-color);
}

ul{
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--fist);
}

input:focus{
    outline: none;
}

/* Header navbar styles */

.header--bg{
    background: var(--fist);
}

/* First row styles */

.header-number__box{
    direction: ltr;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

/* Second row styles */

/* Header logo column styles */

.logo-box{
    margin: 0 0 20px 0;
}

/* Header search box column styles */

.search-box__form{
    background: var(--second);
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

.search-box__form__btn{
    background: transparent;
    border: none;
}

.search-box__form__text{
    background: transparent;
    border: none; 
    width: 90%;
    caret-color: var(--bg-color);
}

/* Header icons box column styles */

.icons-box{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 13px;
    margin-top: 28px;
}

.icons-box__item{
    cursor: pointer;
}

.login__box{
    display: flex;
    align-items: end;
    gap: 2px;
}

.login__box__label{
    font-weight: 700;
}

.cart-count{
    width: 23px;
    height: 20px;
    background: var(--third);
    padding: 4px 0px 0px 0px;    
    border-radius: 50%;
    position: absolute;
    right: 18px;
    bottom: 15px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-count--parent{
    position: relative;
}

/* Third row styles */

.menu{
    background: var(--second);
    border-radius: 0px 0px 20px 20px;
    padding: 3px;
    margin-top: 2px;
}

.menu__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
}

.menu__box__items{
    position: relative;
    padding: 10px 0;
}

.menu__box__items__link{
    color: var(--fourth);
    transition: all 0.7s;
}

.menu__box__items__link:hover{
    color: var(--third);
}

/* Dropdown menu */

.menu__box__items__link--dot::before{
    content: "";
    position: absolute;
    top: calc(50% - 0px);
    left: calc(100% - (-18px));
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #707070;
}

.menu__box__items__link--dropdown::after{
    content: "▾";
    position: absolute;
    top: 13px;
    left: -15px;
    margin-right: 4px;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

.dropdown-menu__box{
    visibility: hidden;
    position: absolute;
    top: 46px;
    left: -54px;
    background: var(--second);
    border-radius: 1px 0px 4px 4px;
    opacity: 0;
    transform: translateX(25px);
    transition: all 350ms;
}

.menu__box__items--headphone:hover .dropdown-menu__box{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.menu__box__items--speaker:hover .dropdown-menu__box{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.dropdown-menu__box__item--link{
    color: var(--fourth);
    font-size: 0.9rem;
    transition: color 0.8s;
    margin: 6px 0px 6px 83px;
}

.dropdown-menu__box__item:hover .dropdown-menu__box__item--link{
    color: var(--third);
}

/* Side navigation login styles */

.sideNav__login{
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--fist);
    z-index: 500;
    overflow: hidden;
    overflow-y: auto;
}

.sideNav__login__container{
    padding: 0 25px 30px 25px;
}

.sideNav__login__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(119, 119, 119, 0.2);
    margin-bottom: 15px;
}

.sideNav__login__form__username, .sideNav__login__form__password{
    font-size: 0.95rem;
    color: #333;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.sideNav__login__form__label--mb{
    margin-bottom: 3px;
}

.required{
    color: red;
}

.sideNav__login__form__input{
    padding: 0 15px;
    max-width: 100%;
    width: 100%;
    height: 42px;
    background-color: transparent;
    box-shadow: none;
    color: #777;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid rgba(119,119,119,.2);
}

.sideNav__login__form__extraItems{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.sideNav__login__form__rememberUser{
    margin-bottom: 15px;
    color: #333;
}

.sideNav__login__form__forgettingPass{
    margin-bottom: 10px;
    color: var(--third);
    font-size: 1rem;
    font-weight: 800;
}

.sideNav__login__form__forgettingPass:hover{
    color: var(--third);
}

.sideNav__login__form__submit--style{
    background: var(--third);
    color: var(--bg-color);
    padding: 5px 17px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: all 0.6s;
}

.sideNav__login__form__submit--style:hover{
    background: var(--hover);
}

.sideNav__login__form__create-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(119,119,119,.2);
    border-top: 1px solid rgba(119,119,119,.2);
}

.sideNav__login__form__create-account__question{
    font-weight: 700;
}

.sideNav__login__form__create-account__link{
    background: var(--third);
    color: var(--fist);
    font-size: 0.85rem;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 800;
    transition: all 0.6s;
}

.sideNav__login__form__create-account__link:hover{
    background: var(--hover);
}